VITE_CATALOG_URL=https://njfhzabmaxhfzekbzpzz.supabase.co/storage/v1/object/public/shortdrama-videos/catalog/catalog.json
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HT2shgPJzeOIbCJy20EsVg_qIRauR1E
VITE_ENABLE_GOOGLE_OAUTH=false
